/* Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* Variables */
:root {
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --outline: hsl(217, 16%, 45%);
  --bg-grad-1: hsl(115, 89%, 48%);
  --bg-grad-2: hsl(133, 77%, 17%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}

/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid var(--outline);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
  backdrop-filter: blur(2px);
}



.user_score,.cpu_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 150px;
  height: 100%;
  line-height: 1;
}

.user_score__title,.cpu_score__title {
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    color: var(--score-text);
    width: 100%;
    height: 20%;
    text-align: center;
}
.user_score__number,.cpu_score__number {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-text);
    height: 30%;
    width: 100%;
}

/* Game */
.game {

  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "paper scissors"
    "rock rock";
  place-items: center;
  height: 33rem;
  padding-top: 4rem;
  overflow: hidden;
}
.background{
    position: absolute;
    top: 33%;
    z-index: -5;
}
.game::before {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  z-index: -1;
  
}


.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0 0.5rem var(--shadow-light);
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
    min-width: 400px;
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 8rem;
  min-height: 8rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title; 
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 40px hsl(133, 82%, 24%), 0 0 0 80px hsl(133, 85%, 32%), 0 0 0 130px hsl(115, 85%, 37%);
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 1.5rem;
  
}
.play-again,.reset-game {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus,.reset-game:focus {
  border: 2px solid var(--outline);
}

/* Rules Button */
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: none;
  outline: none;
  border: 2px solid var(--outline);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.rules-btn:focus {
  border: 2px solid #fff;
}

/* Rules Modal */
.rules {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: var(--shadow-med);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.rules__container {
  background: #fff;
  border-radius: 0.5rem;
}
.rules__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
}
.rules__heading {
  font-size: 1.5rem;
  color: var(--dark-text);
}
.close-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.rules-img {
  padding: 2rem 4rem;
}
.show-rules {
  opacity: 1;
  pointer-events: initial;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: #ff652f;
}

/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}

@media(max-width: 900px){
    .logo{
        width: 100px;
    }
    .user_score,.cpu_score{
        width: 100px;
        height: 80%;
    }
    .user_score__title,.cpu_score__title{
        font-size: .7rem;
    }
    .user_score__number,.cpu_score__number{
        font-size: 2rem;
        
    }
    .choice{
        width: 7rem;
        height: 7rem;
    }
    .choice img {
        width: 2rem;
    }
    .game::before{
        width: 80%;
        height: 80%;
        left: 20%;
        top : 32%;
        
        
    }
    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        transform: scale(1);
        
      }
    .rules-btn {
        position: absolute;
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
        bottom: 60px;
      }
      .results__heading {
        font-size: 1.1rem;
        padding: 2rem 0 2rem;
      }
      .results__winner {
        max-width: 200px;
      }
      .results__text {
        font-size: 1.8rem;
        padding-bottom: 2rem;
      }
      .play-again {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
      }
      .reset-game{
        font-size: .8rem;
        padding: 0.6rem 1rem;
      }
      .attribution {
        font-size: 10px;
      }
}

@media(max-width: 500px){ 
    
    .choice{
        width: 5rem;
        height: 5rem;
    }
    .choice img {
        width: 1.5rem;
    }
    .game::before{
        width: 80%;
        height: 80%;
        left: 20%;
        top : 32%;     
    }
    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        transform: scale(.7);
        
      }
      .results__heading {
        font-size: 1rem;
        padding: 2rem 0 2rem;
      }
      .results__winner {
        max-width: 200px;
      }
      .results__text {
        font-size: .9rem;
        padding-bottom: 2rem;
      }
      .play-again {
        font-size: .8rem;
        padding: 0.4rem 1rem;
      }
      .reset-game{
        font-size: .8rem;
        padding: 0.6rem 1rem;
      }
      .attribution {
        font-size: 10px;
      }
}